<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606940448180-fsl3194n5btm39qmsm72chd1p4lborg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606940448180-fsl3194n5btm39qmsm72chd1p4lborg7</string>
	<key>API_KEY</key>
	<string>AIzaSyD2C0yLp-_q08TmqkDWPo778-jQib-ul-s</string>
	<key>GCM_SENDER_ID</key>
	<string>606940448180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.efemaz.lodos</string>
	<key>PROJECT_ID</key>
	<string>lodos-e806d</string>
	<key>STORAGE_BUCKET</key>
	<string>lodos-e806d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606940448180:ios:1d0724221d8f08767b1ee1</string>
	<key>DATABASE_URL</key>
	<string>https://lodos-e806d.firebaseio.com</string>
</dict>
</plist>